# --- Python / Flask ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
.env
instance/

# --- Node.js / Tailwind ---
node_modules/
npm-debug.log*
yarn-error.log*
.eslintcache

# --- Build / Generados ---
# Ignoramos el CSS de salida porque se genera a partir del input.css
static/dist/output.css

# --- IDEs / Editores ---
.vscode/
.idea/
.DS_Store
*.swp

migrations/versions/*